{% extends 'sh_blog/base.html' %}
{% block title %} Статьи комнаты {{ room.title }} - {{ block.super }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    {% include 'sh_blog/includes/room_topics.html' %}
                </div>
                <div class="col-4">
                    {% include 'sh_blog/includes/room_topics_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}